# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user
.Rproj

data/1_Bevolking_en_bevolkingsdichtheid_gemeente.numbers

data/postalcodes/Speciale postcodes-Table 1.csv

data/postcodes.numbers
